---
title: brandymint — we build web, mobile and backend systems
body_class: welcome index hide-navbar-menu
---

%article
  = partial 'welcome/welcome_block'
%article
  = partial 'localizable/welcome/what_we_do'
%article
  = partial 'welcome/projects'
  = more_link_block ldata.welcome.more_projects, lpath('work')
%hr.no-margins
%article
  = partial 'welcome/partners'
%hr.no-margins
%article
  = partial 'welcome/contacts'

= partial 'shared/map'


%section
  = partial 'shared/contact_form'

