- p = locals[:p]
- default_url = p.url || p.appstore || p.google_play

.project-block{role: "project-block"}
  .row
    .col-md-8.col-md-offset-2
      = partial 'localizable/work/project_block_image_block', locals: {p: p, default_url: default_url}

      %h3.project-title.text-center
        - if default_url.present?
          %a.project-title-link{href: default_url, target: :blank}
            = partial 'localizable/work/project_block_title', locals: {title: p.title, logo: p.logo}
        - else
          = partial 'localizable/work/project_block_title', locals: {title: p.title, logo: p.logo}
      .project-features
        - if p.features.present?
          - p.features.each_pair do |k,v|
            %span= v
      .project-description
        %p= md p.description if p.description.present?
      -#%h5.technology-title Technologies
      .project-technologies
        - if p.technologies.present?
          - p.technologies.each_pair do |k,v|
            %span= v
      -#%h5.technology-title Methodologies
      .project-technologies
        - if p.methodologies.present?
          - p.methodologies.each_pair do |k,v|
            %span= v
      .project-platforms.text-center
        .project-block-release-date
          = Date.parse(p.date).strftime('%d/%m/%Y') if p.date.present?
        %br
        - if p.devices.present?
          - device_types = []
          - p.devices.each do |d|
            - device_types.push device_type_link(p, d.device)
          - device_types.uniq.each do |t|
            = t
        - else
          = device_type_link p, 'web'

