- p = locals[:p]
- bg_url = image_path("projects/#{p.welcome_image}")
- url = url_for("work/#{p.slug}")

%div{ class: "welcome-project welcome-project-#{p.slug} welcome-project-bg-#{p.background}", role: 'clickable-block', data: {href: url} }
  .welcome-project-container-image{ style: "background-image: url(#{bg_url})"}
    .welcome-project-container
      .container
        .row
          .col-md-8.col-md-offset-2.welcome-project-content
            %h2.welcome-project-header
              = p.title
            .welcome-project-subheader
              = p.announce
            = link_to url, class: 'welcome-project-btn' do
              Read more

