.welcome-block.welcome-contacts
  .container
    .row
      .col-md-6.col-md-offset-3
        %h2.welcome-header
          Contact
      .col-sm-4.col-sm-offset-2.article-text
        = link_to "mailto:#{data.contacts.email}", class: 'contacts-link' do
          %strong= data.contacts.email
        %br
        %br
        = link_to "tel:#{data.contacts.phone}", class: 'contacts-link' do
          %small= data.contacts.phone
      .col-sm-4.col-sm-offset-2.contacts-text
        = data.contacts.address

