- p = locals[:p]
- default_url = locals[:default_url]

%h3.product-title
  - if default_url.present?
    %a{href: default_url, target: :blank}
      = partial 'work/project_block_title', locals: {title: p.title, logo: p.logo}
  - else
    = partial 'work/project_block_title', locals: {title: p.title, logo: p.logo}
.project-description
  %p= md p.description if p.description.present?
.project-platforms
  - if p.devices.present?
    - device_types = []
    - p.devices.each do |d|
      - device_types.push project_badge_link p, d.device, css_class: 'btn btn-primary-outline-sm'
    - device_types.uniq.each do |t|
      = t
  - else
    = project_badge_link p, 'web', css_class: 'btn btn-primary-outline-sm'
  - if p.github.present?
    &nbsp;
    = link_to p.github, class: 'product-github-link', target: :blank do
      = ficon 'github-circled', size: 32, color: 'gray-light', v_align: 'middle'


